
/*------------------------------ body -----------------------------------------------*/
body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*background-image: linear-gradient(to right, #434343 0%, black 100%);*/
    background-image: linear-gradient(to right, #6e45e2 0%, #88d3ce 100%);
    overflow: hidden;
}
div *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------- board and its cells -------------------------------------*/
#board{
    max-width: 100vh;
    max-height: 94vh;
    width: 80%;
    height: 100%;
    left: 45%;
    top: 55px;
    transform: translateX(-50%);
    position: absolute;
    /*margin: 20px auto;*/
    border: 5px solid rgba(0,0,0,0.6);
    border-radius: 30px;
    /*box-shadow: 0px 0px 40px 6px #000;*/
    /*padding: 2px;*/
    /*background: #e88800;*/
    background-image: url(/images/stratego_map.png);
    background-size: 100% 100%;
    opacity: 0.9;
    z-layer: 1;
}
.boardcell{
    float: left;
    position: relative;
    width: 10%;
    height: 10%;
    margin: 0px;
    max-height: 10%;
    max-width: 10%;
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
}

/*----------------------------- general cell structure ---------------------------------------*/
.cell{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0,0,0,0.4);
}
.cell:hover{
    border: 4px solid #fff;
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px 2px #000;
    -webkit-transition: border 300ms ease-out;
    -moz-transition: border 300ms ease-out;
    -o-transition: border 300ms ease-out;
    transition: border 300ms ease-out;
}

/*-------------------------------- bootstrap nav bar mods --------------------------------------*/
.nav-link{
    font-weight: bold;
}


/*------------------------------- sidebar with piece holder and a toggle -----------------------*/
#sidebar{
    max-width: 50vh;
    max-height: 100vh;
}

#tab{
    max-width: 50vh;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    right: -45vh;
    top: 70px;
    position: fixed;
    z-layer: 2;
    transition: 0.3s ease-out;
}

#tab.toggle{
    transition: 0.3s ease-in;
    right: 10px;
}

#tabPully{
    text-align: center;
    vertical-align: middle;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #fff;
    float: left;
    max-width: 4vh;
    max-height: 100vh;
    width: 100%;
    height: 30%;
    top: 45%;
    transform: translateY(-50%);
    margin-right: 1vh;
    position: relative;
    border: 3px solid #d3d3d3;
    box-shadow: 0px 0px 20px 2px #000;
    border-radius: 30px;
    background: rgba(0,0,0,0.6);
    transition: 0.3s ease-in;
}

#tabPully span{
    cursor: default;
    display: inline-block;
    margin-right: 3px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none; /* Opera */
}

#pieceholder{
    float: left;
    max-width: 45vh;
    max-height: 100vh;
    width: 100%;
    height: 90%;
    padding: 5px;
    position: relative;
    border: 3px solid #d3d3d3;
    box-shadow: 0px 0px 20px 2px #000;
    border-radius: 5px;
    background: #000;
    z-layer: 2;
    transition: 0.3s ease-in;
}

.holdercell{
    float: left;
    background-size: 100% 100%;
    max-height: 10%;
    max-width: 25%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*----------------------------------- player pieces ----------------------------------------*/
.player-10{
    background-image: url(/images/player_piece_10.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-9{
    background-image: url(/images/player_piece_9.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-8{
    background-image: url(/images/player_piece_8.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-7{
    background-image: url(/images/player_piece_7.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-6{
    background-image: url(/images/player_piece_6.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-5{
    background-image: url(/images/player_piece_5.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-4{
    background-image: url(/images/player_piece_4.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-3{
    background-image: url(/images/player_piece_3.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-2{
    background-image: url(/images/player_piece_2.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-1{
    background-image: url(/images/player_piece_1.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-b{
    background-image: url(/images/player_piece_bomb.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.player-f{
    background-image: url(/images/player_piece_flag.png);
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}

/*-------------------------------- inbetween transitions ---------------------------------*/

.red{
    background: rgba(255, 0, 0, 0.8);
    border-radius: 20%;
}

.green{
    background: rgba(0, 255, 0, 0.5);
    border-radius: 20%;
}

.blue{
    background: rgba(0, 0, 255, 0.5);
}

.invisible{
    display: none;
}

.hold{
    width: 90%;
    height: 90%;
    border: solid 4px #ccc;
    border-radius: 5px;
}
